* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%; /* added */
}

.main-image {
  flex: 1;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.thumbnail-container {
  flex: 0 0 30%; /* set a fixed width for the thumbnail container */
  display: flex;
  flex-wrap: wrap; /* added */
  justify-content: space-between;
  padding: 20px;
}

.thumbnail {
  width: calc(33.33% - 20px); /* adjusted width */
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.thumbnail:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}